<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Abegayle Williams</h1>
 <p>I was born and raised in St. Andrew, Jamaica. I am twenty years old and I love animals and nature. I attended St. Hugh's High School and currently attend The University of the West Indies. I enjoy cooking and as a pass time I love watching tv shows. I am interested in Web Development because I think it's cool to make websites.</p>
</body>